<div class="jumbotron bg-white text-center">
    <h1 class="display-4">Corona Covid-19 Tracker Country Wice</h1>
    <hr>
    <p class="lead">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quos, nisi. 
        Explicabo minus, aliquam doloremque velit deserunt maxime quas ullam ratione adipisci 
        animi odio rem quibusdam consectetur repellat nulla in earum.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum cum quam aliquid. 
        Quod, debitis aliquid error quo iste nulla sit pariatur in perferendis recusandae molestiae,
        vitae sed distinctio officia laboriosam?</p>
</div>